mixin createDownloadSection(id, title, icon, requires, url)
  .DownloadSection(id=id)
    .DownloadSection__row
      img.DownloadSection__icon(src=icon)
      .DownloadSection__title=title
    .DownloadSection__row
      .DownloadSection__textBox
        .DownloadSection__requires=requires
      .DownloadSection__linkBox
        a.DownloadSection__button(href=url) Download Installer
    .DownloadSection__info
      block


