mixin createFunctionDoc(data)
  if (!attributes.hideTitle)
    .Function__title
      .Function__titleFunc def
      | #{data.name}
  .Function
    .Function__description!=data.doc

    if (data.params && data.params.length > 0)
      .Function__banner
        .Function__header Arguments
        .Function__spacer
        .Function__info
          div(class=['Function__swatch', 'Function__swatch--required'])
          .Function__info--required Required
          div(class=['Function__swatch', 'Function__swatch--optional'])
          .Function__info--optional Optional
    else
      .Function__noArgs
        i(class='Icon') info_outline
        div This function takes no arguments

    for arg in data.params
      div(class='Argument')
        div(class=[
          'Argument__box',
          arg.optional ? 'Argument__box--optional' : 'Argument__box--required'
          ])
          .Argument__name=arg.name
          .Argument__type!=arg.type
        .Argument__description!=arg.description
          if(arg.optional)
            .Argument__optional Default Value:&nbsp;
              span(class='Argument__default')!=arg.default

    if data.returns.description
      .FunctionReturns
        .Function__banner
          .Function__header Returns
          .Function__spacer
          .FunctionReturns__type!=data.returns.type
        .FunctionReturns__description!=data.returns.description


mixin createPropertyDoc(data)
  if (!attributes.hideTitle)
    .Function__title
      .Function__titleProp prop
      | #{data.name}
  .Function
    .FunctionReturns__typeRow
      | Type:&nbsp;
      .FunctionReturns__propType!=data.returns.type
    if (attributes.defaultValue)
      .FunctionReturns__typeRow
        | Default Value:&nbsp;
        .FunctionReturns__propType!=attributes.defaultValue
    .Function__description!=data.doc


mixin createBullet(type)
  div(class=[
    'Function__bullet',
    type ? ('Function__bullet--' + type) : 'Function__bullet--info'
  ])
    if (type === 'warning')
      i(class=['Icon', 'Icon--xs']) warning
    else if (type === 'advanced')
      i(class=['Icon', 'Icon--xs']) lightbulb_outline
    else
      i(class=['Icon', 'Icon--xs']) info_outline
    .Function__bullet-text
      block
